body{
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 200px auto;
  grid-template-areas:
  "nav header"
  "nav main";
  margin:0px;
  font-family: 'Raleway', courier;
  /* background-image: url("color_background2.jpg"); */
  background-color: #f9f7f1;
}
  #profpic{
    width:200px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin:10px;
    /*transform: rotateZ(270deg);*/
  }
  .header{
    margin:3px;

  }
  .main.thoughts{
    margin-left:10%;
    margin-right:10%;
  }

  .nav{
    grid-area: nav;
    /* background-image: url("nav_back.jpg"); */
    background-color: #816ad6;
    background-position: left;
    padding:10px;
    margin-left: 0px;
    margin-right:10px;
    height: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ref 1 */
    /*
    box-shadow: inset(inset/write nothing, is shadow shown on the inside?) horizontal(in +-px) vertical(in +-px) blur-radius(in px, how blurred will the shadow be?) spread(in px, how far away will the shadow spread from the shape?/how thick?) color;

    notes:
    1. you can give multiple values by putting a coma after the color value, and setting horizontal, vertical and color values again
    2. you can zero out the horizontal and vertical values and that makes the shadow all around the box
    */
  }

  .thoughts{
    background-image: url("thoughts_background2.jpg");
    background-repeat: repeat;
  }
  #diary{
    width:90%;
    text-align: right;
    font-size: 15pt;
    font-family: 'Lateef', cursive;
  }
  .nav.thoughts li{
    background-color: #FBFEF9;

  }
  .nav.thoughts li a{
    color:black;

  }
  .nav ul{
    list-style-type: none; /* to remove bullet points */
    padding: 0; /* to remove the padding that stays after removing
    bullet points*/
  }
  .nav li{
    background-color: darkgrey;
    width: 190px;
    margin: 2px;
    font-size: 15px;
    padding:5px;
  }
  .nav li a{
    color:white;
    font-weight: bold;
    padding: 4px;
  }

/* Projects page*/
.main-projects{
  grid-area:main;
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));*/
  grid-template-rows: 100px auto; /*row1: label, row2: picture+desc*/
  grid-gap:1em;
}

div.label{
  grid-row-start: 1;
  grid-row-end: 1;
  /* height:20px; */
}

  .gallery-grid{  /* this contains all pictures and description*/
    grid-row-start: 2;
    grid-row-end: 2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    grid-template-rows: auto;
    grid-row-gap:1em;
  }

  div.gallery-item{

    /* width:400px; */

    display:grid;
    grid-auto-rows: 1fr 0.1fr;
    grid-template-areas:
    "pic"
    "desc";
    /* grid-template-rows: 1fr 0.2fr; */
    /* height:400px; */
    grid-gap:1em;
    margin:5px;
    padding:5px;
    border: 1px solid #ccc;
    float:left;
  }

  div.gallery-item video{
    grid-area:pic;
    /* grid-row-start:1;
    grid-row-end: 1; */
    width:100%;
    /* height:auto; */
  }

  div.gallery-item img{
    grid-area:pic;
    /* grid-row-start:1;
    grid-row-end: 1; */
      width:100%;
      /* height:auto; /*depending on the description under it*/ */
    }

  div.gallery-item .desc{
    grid-area:desc;
    /* grid-row-start: 2;
    grid-row-end: 2; */
    padding:5px;
    text-align: center;
  }

  .fictionBooks{
    display:block;
  }
  .nonfictionBooks{
    display: block;
  }

.fav_figures{
  display: inline-block; //this makes images sit beside each other
  margin-bottom:5px;
  margin-top:5px;
  width:200px; //to give caption limited area
  text-align: center; //to center caption below it
  /* float:left; */
}

.arabic-text{
  direction: rtl;
}


#more{
  display: none;
}

figcaption{
  display:block;
}

/*
References:
- give shadow to nav bar: https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow5
*/
